body {
    font-family: sans-serif;
    background: #f3f3f3;
}
.success-inputs {
    padding-bottom: 30px;
}

.input {
    height:36px;
    width: 245px;
    border-radius: 5px; 
    padding-left: 10px;
    background-color: #ffff !important;
}


/* ****** Success Inputs ****** */
.suc {
    background: url(./img/Checkmark.svg) no-repeat scroll;
    background-position: right 10px top 15px;
    outline: none;
    border: 1.5px solid #1BB934;
}

.suc-user {
    background: url(./img/Checkmark.svg) no-repeat scroll 5px 15px, url(./img/user-icon.svg) no-repeat scroll 5px 15px;
    background-position: right 10px top 15px, left 10px top 10px;
    outline: none;
    border: 1.5px solid #1BB934;
    /* background-position: right 10px top 15px; */
}

.suc-user::placeholder{
    padding-left: 25px;
}

.suc-search {
    background: url(./img/search-icon.svg) no-repeat scroll;
    background-position: right 10px top 11px;
    outline: none;
    border: 1.5px solid #1BB934;
}


/*  ****** Warning inputs ******  */
.warn {
    background: url(./img/Cross.svg) no-repeat scroll;
    background-position: right 10px top 15px;
    outline: none;
    border: 1.5px solid #ED1C24;
}

.warn-cal {
    background: url(./img/Cross.svg) no-repeat scroll 5px 15px, url(./img/calender-icon.svg) no-repeat scroll 5px 15px;
    background-position: right 10px top 15px, left 10px top 10px;
    outline: none;
    border: 1.5px solid #ED1C24;
}

.warn-cal::placeholder{
    padding-left: 25px;
}

.warn-search {
    background: url(./img/search-icon.svg) no-repeat scroll;
    background-position: right 10px top 11px;
    outline: none;
    border: 1.5px solid #ED1C24;
}

/* ****** CheckBoxes ****** */

/* &&  Toggle &&   */

.check-toggle {
    position: relative;
    width: 38px;
    height: 20px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: .5s;
}
.check-toggle:checked{
    background: #1BB934;
}

.check-toggle:before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    top: 2px;
    left: 0;
    background: #ffff;
    transition: .5s;
    /* transform: scale(1.2); */
}

.check-toggle:checked:before {
    left: 21.5px;
}

/* && CheckBox Tick */


/*  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid #CED0DA;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #dfe3e9, #e8eaee, #f0f1f4, #f8f8f9, #ffffff);
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
      border: 1px solid #27AA11;
    background-image: linear-gradient(to bottom, #29b311, #36bc20, #42c52c, #4dcf37, #57d841);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 4.5px;
    top: 2px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
/*  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* &&&&&&&&&&&&&&&&&&&&&&&&&&   MInus &&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.container-minus {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container-minus input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark-minus {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid #CED0DA;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #dfe3e9, #e8eaee, #f0f1f4, #f8f8f9, #ffffff);
  }
  
  /* On mouse-over, add a grey background color */
  .container-minus:hover input ~ .checkmark-minus {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-minus input:checked ~ .checkmark-minus {
    border: 1px solid #27AA11;
    background-image: linear-gradient(to bottom, #29b311, #36bc20, #42c52c, #4dcf37, #57d841);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark-minus:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container-minus input:checked ~ .checkmark-minus:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container-minus .checkmark-minus:after {
    left: 4.5px;
    top: 1px;
    width: 7px;
    height: 7px;
    border-bottom: 2px solid #ffff;
    
    /* border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); */
  }
  
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&      Radio    &&&&&&&&&&&&&&&&&&&&&&&&&&&& */
.container-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid #CED0DA;
    background-image: linear-gradient(to bottom, #f2f4f8, #f6f7fa, #f9f9fb, #fcfcfd, #ffffff);
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container-radio:hover input ~ .checkmark-radio {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container-radio input:checked ~ .checkmark-radio {
    border: 1px solid #27AA11;
    background-image: linear-gradient(to bottom, #29b311, #36bc20, #42c52c, #4dcf37, #57d841);
    
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container-radio input:checked ~ .checkmark-radio:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container-radio .checkmark-radio:after {
      top: 5px;
      left: 5px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: white;
  }
/* &&&&&&&&&&&&&&&&&&&&&&&&&&      radio   &&&&&&&&&&&&&&&&&&&&&&&&&&&& */


/*******  Table  *******/

.table-content {
    margin-top: 50px;
    /* margin-top: 50px;
    background-color: #ffff;
    border-radius: 5px;
    border: 1px solid #DFE2E5;
    overflow-x: auto; */
}

table {
    
    background-color: #ffff;
    border-radius: 5px;
    border: 1px solid #DFE2E5;
    overflow-x: auto;
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}

th, td {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    text-align: left !important;
    padding-bottom: 15px;
    padding-left: 25px !important;
  }

  .td-active {
      background-color: #F1F4F8;
  }
 

 


table,td {
    margin: 12px 12px 12px 0;
    padding: 15px 0 12px 0;
}

img {
    padding-right: 15px;
}

.icons-container {
    display: flex;
    justify-content: center;
}

p {
    font-size: 14px;
    margin: 5px 0 5px 0;
    font-weight: bold;
}
span {
    font-size: 14px;
    color: #7F8FA4;
}

.running-box {
    width: 57px;
    height: 20px;
    background-color: #1BB934;
    border-radius: 5px;
    text-align: center;
}
.paused-box {
    width: 57px;
    height: 20px;
    background-color: #707070;
    border-radius: 5px;
    text-align: center
}
.box-title {
    font-size: 10px;
    color: #ffff; 
    
}


.bordless{
    border-bottom: none;
}
















